/* 
    Document   : layout
    Created on : 2012-okt-20, 18:36:51
    Author     : Daniel Eliasson Stilero Webdesign http://www.stilero.com
    Description:
        Purpose of the stylesheet follows.
*/

.icon-48-shopmigrator48{
	background-image: url("../images/shopmigrator-cart.png");
}